.l1-grid-cont{
    background: rgba(255, 244, 244, 0.289) !important;
    z-index: -2;

    min-height: 100vh;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
}

.l1-grid-cont form{
    background: white;
    cursor: auto;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.l1-grid-cont{
            display: grid;
            background:white;
            align-items: center;
            justify-items: center;
}
.l1-grid{
            display: grid;
            grid-template-columns: 100px 75px 95px;
            grid-template-rows: 100px 50px 30px 30px 50px 50px;
            grid-template-areas: "a a a"
                                 "b c c"
                                 "d e e"
                                 "f f g"
                                 "h i j"
                                 "k l l"
                                 "n o p";
                                 
            outline: 2px solid;
            border-radius: 15px;
            align-items: start;                    
}
 .l1-login-form{
              background-color: white;
              grid-area: a;
              text-align: center;
              font-size: 30px;
              text-transform: uppercase;
              text-shadow: 1px 1px;
              border-radius: inherit;
              
      
}
.l1-username{
            background: white;
            grid-area: b;
            text-align: center;
            font-size: 19px;
 }
 .l1-username_input{
            background: #ffffff;
            grid-area: c;
            

 }        
  .l1-username_input input{
      width: 160px;
  }      

    

        .l1-password{
            background: white;
            grid-area: d;
            text-align: center;
            font-size: 19px;
        }
        .l1-password_input{
            background: white;
            grid-area: e;
            position: relative;
        }
        .l1-password_input input{
            width: 160px;
        }
        #l1-eye{
            position: absolute;
            right: 15px;
            top: 5px;
        }
        .l1-empty1{
            background: white;
            grid-area: f;
        }
        .l1-forgot_password{
            background: white;
            grid-area: g;
            font-size: 12.5px;
        }
        .l1-empty2{
            background: white;
            grid-area: h;
        }
        .l1-login{
            background: white;
            grid-area: i;
            font-size: 15px;
            
        
            
            
        }
        .l1-empty3{
            grid-area: j;
            background: white;
        }
.l1-empty4{
    grid-area: k;
    background: white;
}
.l1-donothaveaccount{
    grid-area: l;
    background: white;
    font-size: 16px;
    
}
.l1-empty5{
    grid-area: m;
    background: white;
}
.l1-empty6{
    grid-area: n;
    background: white;
}
.l1-sign-up{
    grid-area: o;
    background: white;
    text-align: center;
    font-size: 15px;
    
    
}
.l1-empty7{
    grid-area: p;
    background: white;
}
@media only screen and (max-width : 780px){
    body{
        width: 100%;
    }
    .l1-grid-cont{
        width: 100%;
    }
    .l1-grid{
        width: 90%;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 4fr 3fr 4fr;
        grid-template-rows: 100px 50px 30px 20px 50px 50px;
        grid-template-areas: "a a a"
                             "b c c"
                             "d e e"
                             "f f g"
                             "h i j"
                             "k l l"
                             "n o p";
    }
}