*{
    padding: o;
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.grid-cont{
            display: grid;
            background:white;
            align-items: center;
            justify-items: center;
            height: 100vh;
            width: 100%;
}
.grid{
            display: grid;
            grid-template-columns: 100px 75px 95px;
            grid-template-rows: 100px 50px 30px 30px 50px 50px;
            grid-template-areas: "a a a"
                                 "b c c"
                                 "d e e"
                                 "f f g"
                                 "h i j"
                                 "k l l"
                                 "n o p";
                                 
            outline: 2px solid;
            border-radius: 15px;
            align-items: start;                    
}
 .login-form{
              background-color: white;
              grid-area: a;
              text-align: center;
              font-size: 30px;
              text-transform: uppercase;
              text-shadow: 1px 1px;
              border-radius: inherit;
              
      
}
.username{
            background: white;
            grid-area: b;
            text-align: center;
            font-size: 19px;
 }
 .username_input{
            background: #ffffff;
            grid-area: c;
            

 }        
  .username_input input{
      width: 160px;
  }      

    

        .password{
            background: white;
            grid-area: d;
            text-align: center;
            font-size: 19px;
        }
        .password_input{
            background: white;
            grid-area: e;
            position: relative;
        }
        .password_input input{
            width: 160px;
        }
        #eye{
            position: absolute;
            right: 15px;
            top: 5px;
        }
        .empty1{
            background: white;
            grid-area: f;
        }
        .forgot_password{
            background: white;
            grid-area: g;
            font-size: 12.5px;
        }
        .empty2{
            background: white;
            grid-area: h;
        }
        .login{
            background: white;
            grid-area: i;
            font-size: 15px;
            
        
            
            
        }
        .empty3{
            grid-area: j;
            background: white;
        }
.empty4{
    grid-area: k;
    background: white;
}
.donothaveaccount{
    grid-area: l;
    background: white;
    font-size: 16px;
    
}
.empty5{
    grid-area: m;
    background: white;
}
.empty6{
    grid-area: n;
    background: white;
}
.sign-up{
    grid-area: o;
    background: white;
    text-align: center;
    font-size: 15px;
    
    
}
.empty7{
    grid-area: p;
    background: white;
}
@media only screen and (max-width : 780px){
    body{
        width: 100%;
    }
    .grid-cont{
        width: 100%;
    }
    .grid{
        width: 90%;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 4fr 3fr 4fr;
        grid-template-rows: 100px 50px 30px 20px 50px 50px;
        grid-template-areas: "a a a"
                             "b c c"
                             "d e e"
                             "f f g"
                             "h i j"
                             "k l l"
                             "n o p";
    }
}