body{
  background: rgb(228, 228, 228) !important;
}

.w3-top div{
  background: rgb(228, 228, 228);
}

.w3-top div a{
  background: white;
}

.s{
  display: grid;
  align-items: center;
  justify-items: center;
}

a{
  color: black !important;
  text-decoration: none !important;
}

.container {
    background: white;
    /* max-width: 965px;
    display: grid;
    grid-template-columns: 255px 255px 455px;
    grid-template-rows: 50px 100px 50px;
    grid-template-areas: "img progress progress"
                         "img title title"
                         "rate emty name"; */
      /* row-gap: 3px;
    column-gap: 2px; */

    align-items: center;
    justify-items: center;

    margin-bottom: 30px;
    padding: 0% !important;
}

.item-a {
    grid-area: img;
}
.item-a img{
  width: 250px;
  height: 140px;
}
.item-b{
    grid-area: progress;
    width: 95%;
}
/* .item-f{
      grid-area: prize;
} */
.item-c{
    grid-area: title;
    font-size: 18px;

    display: grid;
    align-items: center;
    justify-items: center;

    overflow-wrap: break-word;
    hyphens: manual;
    white-space: pre-wrap;

    overflow: hidden;
    text-overflow: ellipsis;
}
.item-g{
      grid-area: emty;
}
.item-d {
    grid-area: rate;
}
.item-e{
      grid-area: name;

      display: grid;
      align-items: center;
      justify-items: center;
  
      overflow-wrap: break-word;
      hyphens: manual;
      white-space: pre-wrap;
  
      overflow: hidden;
      text-overflow: ellipsis;
}


  @media screen and (min-width:300px) and (max-width:400px){
    .container {
        width: 400px !important;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 50px 50px 50px 50px;
        grid-template-areas: 
          "img img"
          "progress progress"
          "title title"
          "rate name"
          "emty emty"
          ;
          row-gap: 2px;
        column-gap: 2px;  
      }
      .item-a img{
        width: 180px;
        height: 100px;
      }
      .item-c{
        width: 400px;
        height: 50px;
      }
      .item-e{
        width: 200px;
        height: 50px;
      }
    }
  @media screen and (min-width:400px) and (max-width:600px){
    .container {
        width: 410px !important;
        display: grid;
        grid-template-columns: 200px 100px 100px;
        grid-template-rows: 50px 70px 50px;
        grid-template-areas: 
          "img progress progress"
          "img title title"
          "rate emty name"
          ;
          row-gap: 3px;
        column-gap: 2px;  
      }
      .item-a img{
        width: 200px;
        height: 110px;
      }
      .item-c{
        width: 200px;
        height: 70px;
      }
      .item-e{
        width: 100px;
        height: 50px;
      }
    }
    @media screen and (min-width:600px) and (max-width:800px){
        .container {
            width: 610px !important;
            display: grid;
            grid-template-columns: 250px 150px 200px;
            grid-template-rows: 50px 100px 50px;
            grid-template-areas: 
              "img progress progress"
              "img title title"
              "rate emty name"
              ;
              row-gap: 3px;
            column-gap: 2px;  
          }
          .item-a img{
            width: 250px;
            height: 140px;
          }
          .item-c{
            width: 350px;
            height: 100px;
          }
          .item-e{
            width: 200px;
            height: 50px;
          }
        }
  @media screen and (min-width:800px) {
    .container{
        width: 810px !important;
        display: grid;
        grid-template-columns: 250px 150px 400px;
        grid-template-rows: 50px 100px 50px;
        grid-template-areas: 
          "img progress progress"
          "img title title"
          "rate emty name"
          ;
          row-gap: 3px;
        column-gap: 2px;  
      }
      .item-c{
        width: 550px;
        height: 100px;
      }
      .item-e{
        width: 400px;
        height: 50px;
      }

  }
  

 