a{
    text-decoration: none;
}

/* '!important' should be mentioned to override the values of properties in another class */
.mobile-bar{
    text-align: right !important;
}

.w3-bar{
    padding: 1%;
}

.logo{
    padding: 0 !important;
    border-radius: 30px;
}

.bar-item{
    border-radius: 10px;
}

/* .active::after{
    content: "";                            This is necessary for the pseudo element to work. 
    display: block;                         This will put the pseudo element on its own line.
    margin: 0 auto;                         This will center the border.
    width: 80%;                             Change this to whatever width you want.
    border-bottom: 3px solid black;         This creates the border. Replace black with whatever color you want.
} */