.s1-grid-cont{
    background: rgb(228, 228, 228) !important;
}

.s1-grid-cont form{
    background: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.s1-grid-cont{
    background: rgba(255, 244, 244, 0.289) !important;
    z-index: -2;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100vh;

    cursor: pointer;
}
.s1-grid{
    display: grid;
    grid-template-columns: 100px 120px 140px;
    grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "a a a"
                         "b c c"
                         "d e e"
                         "f g g"
                         "x y y"
                         "h i i"
                         "j k k"
                         "l m n";
    outline: 3px solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center; 

    cursor: auto;
}
.s1-register-form{
      background-color: white;
      grid-area: a;
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 1px 1px;
      }

.s1-name{
    grid-area: b;
    background: white;
    
}     
.s1-Name_input{
    grid-area: c;
    background: white;
}
.s1-Name_input input{
    width: 220px;
}
.s1-phone_no{
    grid-area: d;
    background: white;
    
}
.s1-phone_no_input{
    grid-area: e;
    background: white;
}
.s1-phone_no_input input{
    width: 220px;
}
.s1-Email_id{
    grid-area: f;
    background: white;
    
}
.s1-email_id_input{
    grid-area: g;
    background: white;
}
.s1-email_id_input input{
    width: 220px;
}

.s1-Institute{
    grid-area: x;
}
.s1-institute_input{
    grid-area: y;

    display: grid;
    align-items: center;
}
.s1-institute_input select{
    width: 220px;
    height: auto;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.s1-password{
    grid-area: h;
    background: white;

}
.s1-password_input{
    grid-area: i;
    background: white;
    position: relative;

}
.s1-password_input input{
    width: 220px;
}
#s1-eye{
    position: absolute;
    right: 15px;
    top: 5px;
}
.s1-c_password{
    grid-area: j;
    background: white;
    
}
.s1-c_password_input{
    grid-area: k;
    background: white;
    position: relative;
}
.s1-c_password_input input{
    width: 220px;
}
#s1-eye1{
    position: absolute;
    right: 15px;
    top: 5px;
}
.s1-empty1{
    grid-area: l;
    background: white;
}
.s1-sign-in{
    grid-area: m;
    background: white;
}
.s1-empty2{
    grid-area: o;
    background: white;
}