.grid-cont{
    background: rgb(228, 228, 228) !important;
}

.grid-cont form{
    background: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.grid-cont{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 100px 120px 140px;
    grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "a a a"
                         "b c c"
                         "d e e"
                         "f g g"
                         "x y y"
                         "h i i"
                         "j k k"
                         "l m n";
    outline: 3px solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center; 
}
.register-form{
      background-color: white;
      grid-area: a;
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 1px 1px;
      }

.name{
    grid-area: b;
    background: white;
    
}     
.Name_input{
    grid-area: c;
    background: white;
}
.Name_input input{
    width: 220px;
}
.phone_no{
    grid-area: d;
    background: white;
    
}
.phone_no_input{
    grid-area: e;
    background: white;
}
.phone_no_input input{
    width: 220px;
}
.Email_id{
    grid-area: f;
    background: white;
    
}
.email_id_input{
    grid-area: g;
    background: white;
}
.email_id_input input{
    width: 220px;
}

.Institute{
    grid-area: x;
}
.institute_input{
    grid-area: y;

    display: grid;
    align-items: center;
}
.institute_input select{
    width: 220px;
    height: auto;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.password{
    grid-area: h;
    background: white;

}
.password_input{
    grid-area: i;
    background: white;
    position: relative;

}
.password_input input{
    width: 220px;
}
#eye{
    position: absolute;
    right: 15px;
    top: 5px;
}
.c_password{
    grid-area: j;
    background: white;
    
}
.c_password_input{
    grid-area: k;
    background: white;
    position: relative;
}
.c_password_input input{
    width: 220px;
}
#eye1{
    position: absolute;
    right: 15px;
    top: 5px;
}
.empty1{
    grid-area: l;
    background: white;
}
.sign-in{
    grid-area: m;
    background: white;
}
.empty2{
    grid-area: o;
    background: white;
}