body{
    margin: 0;
}

.s2-grid-cont {
    background: rgba(255, 244, 244, 0.289) !important;
    z-index: -2;

    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    align-items: center;
    justify-items: center;

    width: 100%;
    min-height: 100vh;
    cursor: pointer;
}

.s2-grid {
    display: grid;
    grid-template-columns: 130px 100px 150px;
    grid-template-rows: 90px 50px 50px 50px 50px 50px 50px 50px 60px 60px;
    grid-template-areas: "title title title"
                         "name n-input n-input"
                         "email e-input e-input"
                         "qualification q-input q-input"
                         "institute i-input i-input"
                         "image i-image i-image"
                         "phone p-input p-input"
                         "pass1 p1-input p1-input"
                         "pass2 p2-input p2-input"
                         "empty2 submit empty3";
    
    padding-bottom: 20px;

    box-shadow: 10px 10px 15px grey;
    background: white;

    align-items: center;
    justify-items: center;

    cursor: auto;
}

.s2-logo {
    grid-area: title;
    font-size: 24px;
    font-weight: 500 !important;
}

.s2-name {
    grid-area: name;
}
.s2-name_input {
    grid-area: n-input;
}

.s2-email {
    grid-area: email;
}
.s2-email_input {
    grid-area: e-input;
}

.s2-qual {
    grid-area: qualification;
}
.s2-qual_input {
    grid-area: q-input;
}

.s2-inst {
    grid-area: institute;
}
.s2-inst_input {
    grid-area: i-input;

    display: grid;
    align-items: center;
}
.s2-inst_input select{
    width: 220px;
    height: auto;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.s2-image{
    grid-area: image;
}
.s2-image_input{
    grid-area: i-image;
}

.s2-phone {
    grid-area: phone;
}
.s2-ph_input {
    grid-area: p-input;
}


.s2-password {
    grid-area: pass1;
}
.s2-password_input {
    grid-area: p1-input;
    position: relative;
}
#s2-eye{
    position: absolute;
    right: 15px;
    top: 5px;
}

.s2-password2 {
    grid-area: pass2;
    text-align: center;
}
.s2-password_input2 {
    grid-area: p2-input;
    position: relative;
}
#s2-eye1{
    position: absolute;
    right: 15px;
    top: 5px;
}

.s2-empty2 {
    grid-area: empty2;
}
.s2-submit {
    grid-area: submit;
}
.s2-empty3 {
    grid-area: empty3;
}