body{
    background: rgb(228, 228, 228) !important;
}

.grid-cont{
    background: rgb(228, 228, 228) !important;
}

.grid-cont form{
    background: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.grid-cont{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.grid{
    display: grid;
    grid-template-columns: 150px 120px 140px;
    grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50PX 50PX;
    grid-template-areas: "a a a"
                         "b c c"
                         "d e e"
                         "f g g"
                         "h i i"
                         "j k k"
                         "l m m"
                         "p q q"
                         "r s s"
                         "t u u"
                         "v w w"
                         "x y y"
                         "z A B";
    outline: 3px solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center; 
    box-shadow: 10px 10px 15px gray;
    background-color: white;
}
.register-form{
    grid-area: a;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px;
}

.name{
    grid-area: b;
}     
.Name_input{
    grid-area: c;
}
.Name_input input{
    width: 220px;
}
.address{
    grid-area: d;
    font-size: 17px;
}
.address_input{
    grid-area: e;
}
.address_input input{
    width: 220px;
}

.image{
    grid-area: f;
    font-size: 17px;
}
.image_input{
    grid-area: g;
    width: 220px;
}
.Email{
    grid-area: h;
    background: white;
    font-size: 17px;
}
.email_id_input{
    grid-area: i;
    background: white;
}
.email_id_input input{
    width: 220px;
}
.website{
    grid-area: j;
    background: white;
    font-size: 17px;
}
.website_input{
    grid-area: k;
    background: white;
    position: relative;

}
.website_input input{
    width: 220px;
}
.BankName{
    grid-area: l;
}
.bankname_input{
    grid-area: m;
}
.bankname_input input{
    width: 220px;
}
/* .Bankaddress{
    grid-area: n;
}
.Bankaddress_input{
    grid-area: o;
}
.Bankaddress_input input{
    width: 220px;
} */
.AccountHolder{
    grid-area: p;
}
.AccountHolder_input{
    grid-area: q;
}
.AccountHolder_input input{
    width: 220px;
}
.AccountNumber{
    grid-area: r;
}
.AccountNumber_input{
    grid-area: s;
}
.AccountNumber_input input{
    width: 220px;
}
.IFSCCode{
    grid-area: t;
}
.ifsccode_input{
    grid-area: u;
}
.ifsccode_input input{
    width: 220px;
}
.password{
    grid-area: v;
}
.password_input{
    grid-area: w;
    position: relative;
}
.password_input input{
    width: 220px;
}
#eye{
    position: absolute;
    right: 10px;
    top: 5px;
}
#eye:hover{
    cursor: pointer;
}
.confirmpassword{
    grid-area: x;
}
.confirm_input{
    grid-area: y;
    position: relative;
}
.confirm_input input{
    width: 220px;
}

#eye1{
    position: absolute;
    right: 10px;
    top: 5px;
}
#eye1:hover{
    cursor: pointer;
}
.empty1{
    grid-area: z;
    background: white;
}
.sign-in{
    grid-area: A;
    background: white;
    
}
.empty2{
    grid-area: B;
    background: white;
}