body{
    background: rgb(228, 228, 228);
    display: grid;
    align-items: center;
    justify-items: center;
}

/* PAGE */
.page{
    width: 100%;
    background: white;

    display: grid;
    align-items: center;
    justify-items: center;

    box-shadow: 10px 10px 15px grey;
    padding-bottom: 20px;
    padding-top: 15px;
}


/* BUTTON */
.back{
    width: calc(100% - 20px);

    margin-top: 5px;
    margin-left: 20px;

    display: grid;
    justify-items: left;

    display: none;
}
.back-mobile{
    width: calc(100% - 20px);

    margin-top: 5px;
    margin-left: 20px;

    display: grid;
    justify-items: left;
}
.back-mobile button{
    padding: 10px;
    padding-top: 1px !important;
    padding-left: 6px !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media only screen and (min-width: 500px){
    .back-mobile{
        display: none;
    }
    .back{
        display: block;
    }
}


/* IMAGE */
.c-image{
    border: 2px solid black;
}
.page img{
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 500px){
    .page{
        width: 70%;
    }
    .page img{
        width: 70%;

        margin-top: 10px;
    }
}

/* TITLE AND DESCRIPTION */
.title{
    font-size: 26px;
    font-weight: 500;

    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}
.desc{
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}
#d-text{
    height: 50px;
    overflow: hidden;
}
#d-readmore{
    cursor: pointer;
    text-decoration: underline;
}

/* PROFESSOR DETAILS */
.professor{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px 120px auto;
    grid-template-areas: "image name"
                         "image quali1"
                         "quali2 quali2";


    margin: 20px;

    align-items: center;
    justify-items: center;
}
.professor img{
    grid-area: image;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.name{
    grid-area: name;
    font-size: 26px;
    font-weight: 500;

    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}
#quali1{
    grid-area: quali1;
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}
    #q-text1{
        height: 50px;
        overflow: hidden;
    }
    #q-readmore1{
        cursor: pointer;
        text-decoration: underline;
    }
#quali2{
    grid-area: quali2;
    display: none;
    
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
}
    #q-readmore2{
        cursor: pointer;
        text-decoration: underline;
    }

.container{
    width: 90%;
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: 50px 50px 25px 25px;
    grid-template-areas: "Image Title"
                         "Image Title"
                         "Image Mail"
                         "Image link";
    /* box-shadow: 0 4px 8px 0 #00000066; */

    align-items: center;
    justify-items: center;
}

.Title{
    grid-area: Title;
    font-size: large;

    overflow-wrap: break-word;
    hyphens: manual;
    white-space: pre-wrap;

    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    display: grid;
    align-items: center;
    justify-items: center;
}
.mail{
    grid-area: Mail;
}
.Image{
    grid-area: Image;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.Image img{
    max-width: 150px;
    max-height: 150px;
}
.u-link{
    grid-area: link;
}
/* @media screen and (min-width: 100px) and (max-width:1000px){
    .container{
        width: 290px;
        
        display: grid;
        grid-template-areas: "Image"
                             "Title"
                             "Mail"
                             "link";
        grid-template-columns: 150px;
        grid-template-rows: 100px 80px 80px 80px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
       
   
    }
    .Image{
        
        
        grid-area: Image;
    }
    .Title{
        margin-left: 5%;
        grid-area: Title;
    }
    .mail{
        margin-left: 5%;
        grid-area: Mail;
    }
    .u-link{
        margin-left: 5%;
        grid-area: link;
    }
} */

/* @media screen and (min-width:700px) and (max-width: 1000px){
    .container{
    width: 480px;
    
    display: grid;
    grid-template-areas: "Image Title"
                         "Image Mail"
                         "Image link";
    grid-template-columns: 250px 150px;
    grid-template-rows: 80px 80px 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    
}
.Image{
    grid-area: Image;
}
.Title{
    grid-area: Title;
}
.mail{
    grid-area: Mail;
}
.u-link{
    grid-area: link;
}
} */
/* @media screen and (min-width:1000px) and (max-width: 1300px){
    .container{
    width: 700px;
    
    display: grid;
    grid-template-areas: "Image Title"
                         "Image Mail"
                         "Image link";
    grid-template-columns: 300px 150px;
    grid-template-rows: 80px 80px 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    column-gap: 2px;
}
.Image{
    
    grid-area: Image;
}
.Title{
    grid-area: Title;
}
.mail{
    grid-area: Mail;
}
.u-link{
    grid-area: link;
}
} */
/* @media screen and (min-width:1300px){
    .container{
    width: 900px;
    
    display: grid;
    grid-template-areas: "Image Title"
                         "Image Mail"
                         "Image link";
    grid-template-columns: 400px 200px;
    grid-template-rows: 80px 80px 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    column-gap: 20px;
}
.Image{
    grid-area: Image;
}
.Title{
    grid-area: Title;
}
.mail{
    grid-area: Mail;
}
.u-link{
    grid-area: link;
}
} */


.cont-container2{
    /* width: 100%; */
    padding: 0 20px;
    margin: 20px 0;
}

.container2{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: 40px 80px;
    grid-template-areas: "Img name rating"
                         "review review review";

    align-items: center;
    justify-items: center;

    min-width: 250px;
}
.Image2{
    grid-area: Img;
}
.Image2 img{
    width: 40px;
    height: 40px;
}
.Student{
    grid-area: name;
}
.Rating{
    grid-area: rating;
}
.review{
    grid-area: review;
    margin: 0 5% 0 5%;
    
    overflow-wrap: break-word;
    hyphens: manual;
    white-space: pre-wrap;
    
    max-width: 95%;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen  and (min-width:750px) {
    /* .container2{
        margin: 4%;
        display: grid;
        grid-template-areas: "Img name rating"
                             "Img review review";
        grid-template-columns: 50% 20%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    } */
}