body{
  background: rgb(228, 228, 228);
}

.w3-top div{
  background: rgb(228, 228, 228);
}

.w3-top div a{
  background: white;
}

.s{
    margin-top: 80px;
    padding-bottom: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.container{
    margin-bottom: 30px;
    background: white;
}

a{
    text-decoration: none;
}

.Image {
    grid-area: Image;
    
  }
  .Title {
    grid-area: Title;
    
  }
  .Prize {
    grid-area: Prize;
  }
  .Rating {
    grid-area: Rating;
  }
  .Enroll{
      grid-area: Enroll;
  }
  .Delete{
    grid-area: Delete;
  }
 
@media screen and (min-width:200px) and (max-width:500px){
    .container {
        max-width: 360px;
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 190px 50px 25px 25px 25px 25px;
        grid-template-areas: 
          "Image"
          "Title"
          "Rating"
          "Prize"
          "Enroll"
          "Delete"
          ;
          row-gap: 3px;
        column-gap: 2px;  
      }
      .Image img{
          width: 350px;
          height: 190px;
      }
}

@media screen and (min-width:500px) and (max-width:600px){
    .container {
            max-width: 360px;
            display: grid;
            grid-template-columns: 350px;
            grid-template-rows: 190px 50px 25px 25px 25px 25px;
            grid-template-areas: 
              "Image"
              "Title"
              "Rating"
              "Prize"
              "Enroll"
              "Delete"
              ;
              row-gap: 3px;
            column-gap: 2px;  
    }
    .Image img{
        width: 350px;
        height: 190px;
    }
}


@media screen and (min-width:600px) and (max-width:1000px){
    .container {
        max-width: 650px;
        display: grid;
        grid-template-columns: 250px 200px 200px;
        grid-template-rows: 80px 50px 50px;
        grid-template-areas: 
          "Image Title Title"
          "Image Rating Enroll"
          "Image Prize Delete"
          ;
          row-gap: 3px;
        column-gap: 3px;
        align-items: center;
    }
    .Image img{
        width: 250px;
        height: 150px;
    }
}

@media screen and (min-width:1000px){
    .container {
            max-width: 650px;
            display: grid;
            grid-template-columns: 250px 200px 200px;
            grid-template-rows: 80px 50px 50px;
            grid-template-areas: 
              "Image Title Title"
              "Image Rating Enroll"
              "Image Prize Delete"
              ;
              row-gap: 3px;
            column-gap: 3px;
            align-items: center;
            justify-items: center;
    }
    .Image img{
        width: 250px;
        height: 150px;
    }
}
  