{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/course.css' %}">

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>{{course.c_name}}</title>
</head>
<body>

    <div class="page w3-border w3-round-xlarge" id="page">

        <div class="sticky">

            <div class="back" id="back">
                <a href="{% url 'mycourses' %}" class="w3-hover-black with w3-hover-opacity w3-border w3-btn" title="My courses">back</a>
            </div>
            <div class="back-mobile">
                <a href="{% url 'mycourses' %}" class="w3-hover-black with w3-hover-opacity w3-border w3-btn" title="My courses">&#8592</a>
            </div>
            <img class="c-image" id="image" src="{{media}}/media/{{course.image}}" alt="Python">
            <div id="video-cont">
                <div id="player"></div>
            </div>
            <div id="title" title="{{data.0.title}}">{{data.0.title}}</div>
            <div id="desc"><span id="more" onclick="more()">&gt;</span>{{data.0.desc}}</div>

        </div>

        <div class="content-container" data-cId="{{course.c_id}}">

            {% for dict,dura in z_data %}
            <div class="content w3-border w3-hover-grey" data-vId="{{dict.vidId}}" data-index={{dict.index}} onclick="play(this)">
                <img src="{{dict.image}}" alt="thumbnail" class="t-image">
                
                {% if dict.index in watched %}
                    <img src="{% static 'images/complete.png' %}" class="symbol" alt="symbol">
                {% else %}
                    <img src="{% static 'images/pending.png' %}" class="symbol" alt="symbol">
                {% endif %}

                <div class="title" id="t-1">{{dict.title}}</div>
                <div class="empty1"></div>
                <div class="description">&#09;{{dict.desc}}</div>
                <div class="duration">{{dura}}</div>
            </div>
            {% endfor %}

        </div>

    </div>

    
    <script src="{% static 'js/course.js' %}"></script>

</body>
</html>