{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Student login</title>
    <link rel="stylesheet"  href="{% static 'css/login1.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" title="" type=""/>
    
    </head>
   
 <body>
   
    <div class="grid-cont">
        <form action="{% url 'login1' %}" method="POST" class="grid w3-border w3-round-large">
            
            {% csrf_token %}

            <div class="login-form">Student Login</div>
            <div class="username">email :</div>
            <div class="username_input">
                <input type="email" placeholder="Enter the email" name="email">
            </div>
            <div class="password">Password :</div>
            <div class="password_input">
                <input type="password" id="pass-input" placeholder="Enter the Password" name="password">
                <i class="fa fa-eye" id="eye"onclick="visible()"></i>
            </div>
            <div class="empty1"></div>
            <div class="forgot_password">
                <!-- <a href="#">forgot_password</a>  -->
            </div>
            <div class="empty2"></div>
            <div class="login">
                <button class="w3-btn w3-border w3-round w3-hover-black with w3-hover-opacity" type="submit">LOGIN</button>
            </div>
            <div class="empty3"></div>
            <div class="empty4"></div>
            <div class="donothaveaccount"> 
                <a href="{% url 'register1' %}">don't have account?</a> 
            </div>
            <div class="empty6"></div>
            <div class="sign-up">
                
            </div>
            <div class="empty7"></div>
        </form>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
	            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/login1.js' %}" charset="utf-8">
    </script>
</body>
</html>