{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty login</title>

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" title="" type=""/>

    <link rel="stylesheet" href="{% static 'css/login2.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
</head>

<body>
    <div class="l2-grid-cont">
        <form action="{% url 'login2' %}" method="POST" class="l2-grid w3-border w3-round-large">

            {% csrf_token %}

            <div class="l2-logo">Faculty Login</div>
            
            <div class="l2-username">email :</div>
            <div class="l2-username_input">
                 <input type="email" name="email">
            </div>
            <div class="l2-password">Password :</div>
            <div class="l2-password_input">
                <input type="password" name="password" id="l2-pass-input">
                <i class="fa fa-eye" id="l2-eye" onclick="visible()"></i>
            </div>
            <div class="l2-empty1"></div>
            <div class="l2-forgot_password">
             <!-- forgot password? -->
            </div>
            <div class="l2-empty2"></div>
            <div class="l2-login">
                <button class="w3-btn w3-border w3-round w3-hover-black with w3-hover-opacity" type="submit">Login</button></div>
            <div class="l2-empty3"></div>
            <a class="l2-create" href="{% url 'register2' %}">Create New Account</a>
        </form>
    </div>

    
    {% if messages %}
        <div class="error-cont" id="error_cont" style="z-index: 1;">
            <div class="errors w3-border w3-round-large w3-hover-shadow w3-red w3-text-black" onclick="error()">
                <span style="font-weight: 800;">&#x26A0; ERROR &#x26A0;</span> 
                <br/>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/login2.js' %}"></script>
    <script src="{% static 'js/error.js' %}"></script>

</body>
</html>