{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">
    
    <title>Student login</title>
    <link rel="stylesheet"  href="{% static 'css/login1.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" title="" type=""/>
    
    </head>
   
 <body>
   
    <div class="l1-grid-cont">
        <form action="{% url 'login1' %}" method="POST" class="l1-grid w3-border w3-round-large">
            
            {% csrf_token %}

            <div class="l1-login-form">Student Login</div>
            <div class="l1-username">email :</div>
            <div class="l1-username_input">
                <input type="email" placeholder="Enter the email" name="email">
            </div>
            <div class="l1-password">Password :</div>
            <div class="l1-password_input">
                <input type="password" id="l1-pass-input" placeholder="Enter the Password" name="password">
                <i class="fa fa-eye" id="l1-eye"onclick="visible()"></i>
            </div>
            <div class="l1-empty1"></div>
            <div class="l1-forgot_password">
                <!-- <a href="#">forgot_password</a>  -->
            </div>
            <div class="l1-empty2"></div>
            <div class="l1-login">
                <button class="w3-btn w3-border w3-round w3-hover-black with w3-hover-opacity" type="submit">LOGIN</button>
            </div>
            <div class="l1-empty3"></div>
            <div class="l1-empty4"></div>
            <div class="l1-donothaveaccount"> 
                <a href="{% url 'register1' %}">don't have account?</a> 
            </div>
            <div class="l1-empty6"></div>
            <div class="l1-sign-up">
                
            </div>
            <div class="l1-empty7"></div>
        </form>
    </div>

    {% if messages %}
        <div class="error-cont" id="error_cont" style="z-index: 1;">
            <div class="errors w3-border w3-round-large w3-hover-shadow w3-red w3-text-black" onclick="error()">
                <span style="font-weight: 800;">&#x26A0; ERROR &#x26A0;</span> 
                <br/>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/login1.js' %}"></script>
    <script src="{% static 'js/error.js' %}"></script>
    
</body>
</html>