{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mycourses.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>My Courses</title>
</head>
<body>
    
    <!-- MENU BAR -->
    <div class="w3-top">
        <div class="w3-bar">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="40px" height="40px" class="w3-bar-item logo  w3-margin-left" title="LIO">
            <a href="{% url 'explore' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn" title="Explore">Explore</a>
            
            <a href="#" class="w3-bar-item w3-hide-small w3-right logo"><img src="{{media}}/media/student/default.jpg" alt="logo" width="40px" height="40px" class="logo w3-margin-right"></a>
            <a href="{% url 'mycourses' %}" class="w3-bar-item w3-hide-small w3-black with w3-opacity bar-item w3-margin-left w3-border w3-btn" title="My courses">My courses</a>
            <a href="{% url 'wishlist' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn" title="Wishlist">Wishlist</a>
            <a href="{% url 'logout1' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn w3-right w3-margin-right" title="logout">logout</a>

            <a href="javascript:void(0)" class="w3-bar-item w3-hide-large w3-hide-medium w3-right" onclick="collapseBar()">&#9776;</a>
        </div>

        <div id="collapse" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-white">
            <a href="{% url 'explore' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="Explore">Explore</a>
            
            <!-- <a href="{% url 'login1' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="login">login</a> -->
            <a href="{% url 'mycourses' %}" class="w3-bar-item mobile-bar w3-black with w3-opacity bar-item w3-border w3-btn" title="My courses">My courses</a>
            <a href="{% url 'wishlist' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="Wishlist">Wishlist</a>
            <a href="{% url 'logout1' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="logout">logout</a>

            <a href="#" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn"><img src="{{media}}/media/student/default.jpg" alt="logo" width="40px" height="40px" style="float: right;" class="logo w3-margin-right"></a>
        </div>
    </div>

    <br><br><br><br>

    <div class="s">

        {% for c,per in data %}
        <a href="{% url 'enrolled' c.c_id %}">
        <div data-c_id="{{c.c_id}}" class="container w3-border w3-round-large w3-hover-shadow">
            <div class="item-a">
                <img src="{{media}}/media/{{c.image}}" alt="course image"> 
            </div>
            
            <div class="item-b">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{per}}%;" aria-valuenow="{{per}}" aria-valuemin="0" aria-valuemax="100">{{per}}%</div>
            </div>
            </div>
            <!-- <div class="item-f">{{c.price}}</div> -->
            <div class="item-c">{{c.c_name}}</div>
            <div class="item-d">{{c.rating}} <i class="fa fa-star-half-full"></i></div>
            <div class="item-g">
                <object data="" type="owo/uwu"><a href="{% url 'reviews' c.c_id %}" class="w3-hover-black with w3-hover-opacity w3-round w3-border w3-btn">Review</a></object>
            </div>
            <div class="item-e">{{c.f_name}}</div>
    
        </div>
        </a>
        {% endfor %}

    </div>

    <script src="{% static 'js/mycourses.js' %}"></script>

</body>
</html>