{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">
    
    <title>Student Register</title>
    <link rel="stylesheet" href="{% static 'css/signup1.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" title="" type=""/>
</head>
<body>
    <div class="s1-grid-cont">
        <form action="{% url 'register1' %}" method="POST" class="s1-grid w3-border w3-round-large">

            {% csrf_token %}
            
            <div class="s1-register-form">Student Register</div>
            
            <div class="s1-name">Name :</div>
            <div class="s1-Name_input">
                <input type="text" placeholder="Enter the name" name="s_name">
            </div>
            <div class="s1-phone_no">Phone No :</div>
            <div class="s1-phone_no_input">
                <input type="text" placeholder="Enter the phone no" name="phone">
            </div>
            <div class="s1-Email_id">Email_id :</div>
            <div class="s1-email_id_input">
                <input type="email" placeholder="Enter the email_id"
                name="email">
            </div>
            <div class="s1-Institute">Institute :</div>
            <div class="s1-institute_input">
                <select name="i_id" id="">
                    {% for i in institute %}
                        <option value="{{i.i_id}}">{{i.i_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="s1-password">Password :</div>
            <div class="s1-password_input">
                <input type="password" placeholder="Enter the Password" id="s1-pass-input" name="password">
                <i class="fa fa-eye" id="s1-eye" onclick="s1_visible()"></i>
            </div>
            <div class="s1-c_password">c_password :</div>
            <div class="s1-c_password_input">
                <input type="password" placeholder="Enter the c_password" id="s1-c_pass-input" name="cpassword">
                <i class="fa fa-eye" id="s1-eye1" onclick="s1_visible1()"></i>
            </div>
            <div class="s1-empty1"></div>
            <div class="s1-sign-in">
                <button class="w3-btn w3-border w3-round w3-hover-black with w3-hover-opacity" onclick="validate()" type="submit">SIGN-IN</button>
            </div>
            <div class="s1-empty2"></div>
        </form>
    </div>

    {% if messages or form.errors %}
        <div class="error-cont" id="error_cont" style="z-index: 1;">
            <div class="errors w3-border w3-round-large w3-hover-shadow w3-red w3-text-black" onclick="error()">
                <span style="font-weight: 800;">&#x26A0; ERROR &#x26A0;</span> 
                <br/>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <p> <strong>{{field.label}} :</strong> 
                            {% for error in field.errors %}
                                {{error|striptags}}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/signup1.js' %}"></script>
    <script src="{% static 'js/error.js' %}"></script>

</body>
</html>