{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">
    
    <title>Institute Register</title>
    <link rel="stylesheet" href="{% static 'css/signup3.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" title="" type=""/>
</head>
<body>
    <div class="grid-cont">
        <form action="" method="post" class="grid w3-border w3-round-large"  enctype="multipart/form-data">
            
            {% csrf_token %}

            <div class="register-form">Institute Register</div>
            
            <div class="name">Institute :</div>
            <div class="Name_input">
                <input type="text" placeholder="Enter the Institute name" name="i_name">
            </div>

            <div class="address">Address :</div>
            <div class="address_input">
                <input type="text" placeholder="Enter the institute address" name="address">
            </div>

            <div class="image">Image :</div>
            <div class="image_input">
                <input type="file"  name="image">
            </div>

            <div class="Email">Email :</div>
            <div class="email_id_input">
                <input type="text"placeholder="Enter the email" name="email">
            </div>

            <div class="website">Website :</div>
            <div class="website_input">
                <input type="url" placeholder="Enter the website" name="website">
            </div>

            <div class="BankName">Bank Name :</div>
            <div class="bankname_input">
                <input type="text" placeholder="Enter the Bank Name" name="b_name">
            </div>

            <div class="AccountHolder">Account Holder :</div>
            <div class="AccountHolder_input">
                <input type="text" placeholder="Enter the Account Holder" name="ac_name">
            </div>

            <div class="AccountNumber">Account Number :</div>
            <div class="AccountNumber_input">
                <input type="text" placeholder="Enter the Account Number" name="ac_no">
            </div>

            <div class="IFSCCode">IFSC Code :</div>
            <div class="ifsccode_input">
                <input type="text" placeholder="Enter the IFSC Code" name="ifsc">
            </div>

            <div class="password">Password :</div>
            <div class="password_input">
                <input type="password" id="pass-input" placeholder="Enter the password" name="password">
                <i class="fa fa-eye" id="eye"onclick="visible()"></i>
            </div>

            <div class="confirmpassword">confirm password :</div>
            <div class="confirm_input">
                <input type="password" id="pass-input1" placeholder="Enter the password" name="cpassword">
                <i class="fa fa-eye" id="eye1"onclick="visible1()"></i>
            </div>

            <div class="empty1"></div>
            <div class="sign-in">
                <button class="w3-btn w3-border w3-round w3-hover-black with w3-hover-opacity" type="submit">SIGN-IN</button>
            </div>

            <div class="empty2"></div>

        </form>
    </div>

    {% if messages or form.errors %}
        <div class="error-cont" id="error_cont" style="z-index: 1;">
            <div class="errors w3-border w3-round-large w3-hover-shadow w3-red w3-text-black" onclick="error()">
                <span style="font-weight: 800;">&#x26A0; ERROR &#x26A0;</span> 
                <br/>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <p> <strong>{{field.label}} :</strong> 
                            {% for error in field.errors %}
                                {{error|striptags}}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/signup3.js' %}"></script>
    <script src="{% static 'js/error.js' %}"></script>
    
</body>
</html>