{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/signup1.css' %}">
</head>
<body>
    <div class="grid-cont">
        <form action="" method="POST" class="grid">

            {% csrf_token %}
            
            <div class="register-form">Register Form</div>
            
            <div class="name">Name :</div>
            <div class="Name_input"><input type="text" placeholder="Enter the name"></div>
            <div class="phone_no">Phone No :</div>
            <div class="phone_no_input"><input type="text" placeholder="Enter the phone no"></div>
            <div class="Email_id">Email_id :</div>
            <div class="email_id_input"><input type="text" placeholder="Enter the email_id"></div>
            <div class="password">Password :</div>
            <div class="password_input"><input type="password" placeholder="Enter the Password"></div>
            <div class="c_password">c_password :</div>
            <div class="c_password_input"><input type="c_password" placeholder="Enter the c_password"></div>
            <div class="empty1"></div>
            <div class="sign-in"><a href="#">sign-in </div>
            <div class="empty2"></div>
        </form>
    </div>
</body>
</html>