{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/logo.png' %}" type = "image/x-icon">
      
    <title>Document</title>
    <link rel="icon" href="{% static 'images/logo1.png' %}" type = "image/x-icon">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
</head>
<body>
    
    <!-- MENU BAR -->
    <div class="w3-top">
        <div class="w3-bar">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="40px" height="40px" class="w3-bar-item logo  w3-margin-left" title="LIO">
            <a href="{% url 'explore' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn" title="Explore">Explore</a>
            
            <a href="#" class="w3-bar-item w3-hide-small w3-right logo"><img src="{{media}}/media/{{profile}}" alt="logo" width="40px" height="40px" class="logo"></a>
            <a href="{% url 'mycourses' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn" title="My courses">My courses</a>
            <a href="{% url 'wishlist' %}" class="w3-bar-item w3-hide-small w3-black with w3-opacity bar-item w3-margin-left w3-border w3-btn" title="Wishlist">Wishlist</a>
            <a href="{% url 'logout1' %}" class="w3-bar-item w3-hide-small w3-hover-black with w3-hover-opacity bar-item w3-margin-left w3-border w3-btn w3-right w3-margin-right" title="logout">logout</a>

            <a href="javascript:void(0)" class="w3-bar-item w3-hide-large w3-hide-medium w3-right" onclick="collapseBar()">&#9776;</a>
        </div>

        <div id="collapse" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-white">
            <a href="{% url 'explore' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="Explore">Explore</a>
            
            <!-- <a href="{% url 'login1' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="login">login</a> -->
            <a href="{% url 'mycourses' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="My courses">My courses</a>
            <a href="{% url 'wishlist' %}" class="w3-bar-item mobile-bar w3-black with w3-opacity bar-item w3-border w3-btn" title="Wishlist">Wishlist</a>
            <a href="{% url 'logout1' %}" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn" title="logout">logout</a>

            <a href="#" class="w3-bar-item mobile-bar w3-hover-black with w3-hover-opacity bar-item w3-border w3-btn"><img src="{{media}}/media/{{profile}}" alt="logo" width="40px" height="40px" style="float: right;" class="logo w3-margin-right"></a>
        </div>
    </div>

    <div class="s">

        {% for c in course %}
        <div class="container w3-border w3-round-large w3-hover-shadow">
            <div class="Image">
                <img src="{{image}}/media/{{c.image}}" alt="course image">
            </div>
            <div class="Title">{{c.c_name}}</div>
            <div class="Prize">{{c.price}}</div>
            <div class="Rating">{{c.rating}} <i class="fa fa-star-half-full"></i></div>
            <div class="Enroll">
                <a href="{% url 'enroll' c.c_id %}" class="w3-border w3-round w3-btn w3-hover-black with w3-hover-opacity">Enroll</a>
            </div>
            <div class="Delete">
                <a href="{% url 'delete' c.c_id %}" class="w3-border w3-round w3-btn w3-hover-black with w3-hover-opacity">Delete</a>
            </div>
        </div>
        {% endfor %}
   
    </div>

    <script src="{% static 'js/nav.js' %}"></script>
</body>
</html>